<form action="/add" method="POST">
    <p>Titulo</p>
    <input type="text" name="titulo" id="titulo" >
    <p>Conteudo: </p>
    <textarea name="conteudo" id="textarea" ></textarea>
    <button id="button" type="submit">Cadastrar postagem</button>
</form>

{{!-- {{#if titulo = ''}}
    
{{/if}} --}}